.console-tab-header
  display inline-block
  margin-left 5px
  border 1px solid black
  border-top-left-radius 5px
  border-top-right-radius 5px
  border-bottom none
  position relative
  padding 0
  padding-right 25px

  &-text
    display inline-block
    padding 5px
    cursor pointer

  &-active
    background gray

.console-tab-close-button
  font 14px/100% arial, sans-serif
  position absolute
  right 7px
  top 7px
  cursor pointer
