.console-block
  width 50%

.console-tab-add-button
  display inline-block
  margin-left 5px
  padding 2px 5px
  font 14px/100% arial, sans-serif
  font-weight bold
  cursor pointer
  border 1px solid black
  border-radius 5px
  vertical-align middle